body{
    background-color: grey;
    width:80%;
    border: 1px black;
    margin: auto;
    padding: 10px 15px;
 
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    
    }
   
header nav ul li{
    padding: 10px 5px;
}    

header nav ul li a{
    text-decoration: none;
    color: black;

}

header nav ul li a:hover{
    border-bottom: 10px white;

}

#top{
    text-align: center;
    background-color: darkgray;
    padding: 1px;
}
main{
    background-color: black;
}

 .flex-container{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

}

.flex-container{
    display: flex;
}

.flexbox-item{
    width: 125px;
    margin: 10px;
    border: 5px solid darkgray;
    background-color: white;
}

.flexbox-item-1{
    width: 125px;
    margin: 10px;
    border: 5px dotted darkgray ;
    max-height: 50px;
    max-width: 150px;
    padding: 0%;
}



@media only screen and(max-width:425px) {
    body{
        width: 100%;
        margin: 0;
        padding: 100%;


    }
    header nav ul{
        border: 1px solid black;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
.flex-container{
    width: 100%;    
    
}
footer {
    text-align: center;
} }
