    /*element followed property change 
    
        element {
            property: change that will made;

    */

    body{
        background-color: darkblue;
        width: 50%;
        border: 10px solid; color: black;
        margin: 10px;

        }
         header{
        border: 10px dotted black;
        border-width: 10px;
        margin: 10px;
        margin-top: 10px;

        }
        a{
          color:gold;
        }

        header{ background-color: gold;
        }
        img{ width: 50%;
        }
        figcaption{
            margin: 10px;
            color: white;
         }
         div{background-color: gold;
            

         }